<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/download.css">
</head>
<body>
    <div id="header">
        <!-- 상단 메뉴 바 컨테이너 -->
        <nav id="menu">
            <div>
                <a href="/">
                    <h1>TalK</h1>
                </a>
                <ul>
                    <li class="menuLink"><a href="/management">회사 소개</a></li>
                    <li class="menuLink"><a href="/debug">커뮤니티</a></li>
                    <li class="menuLink"><a href="/download">다운로드</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!--어플리케이션 설명 컨테이너-->
    <div id="plan-list">
        <div class="plan-box">
            <p style="text-align: center; margin-top: 40px;"><strong style="color:blue; font-size: 45px;">1개월 구독
                    플랜</strong></p>
            <p style="font-size: 20px; color: blue; margin-left: 90px;">9900/월</p>
            <br>
            <ul id="month1-ul">
                <li>더 많은 시간 낭비</li>
                <li>더 많은 돈 낭비</li>
                <li>더 많은 쾌락</li>
            </ul>
            <a href="#"><button type="button" class="btn" onclick="alert('9900/월 구독완료.')">구독하기</button></a>
        </div>
        <div class="plan-box">
            <p style="text-align: center; margin-top: 40px;"><strong style="color:rgb(104, 50, 205); font-size: 45px;">12개월 구독
                    플랜</strong></p>
            <p style="font-size: 20px; color: rgb(104, 50, 205); margin-left: 90px;">99000/년</p>
            <br>
            <ul id="month12-ul">
                <li>더 많은 시간 낭비</li>
                <li>더 많은 돈 낭비</li>
                <li>더 많은 쾌락</li>
                <li>더 많은 재정난</li>
            </ul>
            <a href="#"><button type="button" class="btn" onclick="alert('99000/년 구독완료.')">구독하기</button></a>
        </div>
    </div>

    <div id="download">
        <div>
            <img src="../images/window_logo.png" alt="window">
            <div id="version">
                <p>ㅤ32-bit Talk for Window Setupㅤ</p>
                <p>ㅤ64-bit Talk for Window Setupㅤ</p>
            </div>
            <div id="dwn_btn">
                <a href="../images/window_logo.png" download=""><button class="download_button">Download</button></a>
                <a href="../images/window_logo.png" download=""></a><button class="download_button">Download</button></a>
            </div>
        </div>
        <div>
            <img src="../images/mac_icon.png" alt="mac_icon">
            <div id="version">
                <p>ㅤ준비중ㅤ</p>
                <p>ㅤ준비중ㅤ</p>
            </div>
            <div id="dwn_btn">
                <a href="../images/mac_icon.png" download=""><button class="download_button">Download</button></a>
                <a href="../images/mac_icon.png" download=""><button class="download_button">Download</button></a>
            </div>
        </div>
        <div>
            <img src="../images/androi_icon.png" alt="androi_icon">
            <div id="version">
                <p>ㅤ준비중ㅤ</p>
                <p>ㅤ준비중ㅤ</p>
            </div>
            <div id="dwn_btn">
                <a href="../images/androi_icon.png" download=""><button class="download_button">Download</button></a>
                <a href="../images/androi_icon.png" download=""><button class="download_button">Download</button></a>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="footerExplan">
            <p>대표이사: 이형권 / 사업자 등록번호: 888-88-88888 / 김해시 진영읍 장등로 19번길</p>
            <p>회사문의: aq0011223344@gmail.com / 채용문의: broccoli@tu.ca.kr</p><br>
            <span>개인정보처리방침</span>
            <span>제휴/광고 문의</span>
        </div>
    </div>
</body>
</html>