<!DOCTYPE html>
<html>
<head>
    <title>타이틀 페이지</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>
    <div id="header">
        <!-- 상단 메뉴 바 컨테이너 -->
        <nav id="menu">
            <div>
                <a href="/">
                    <h1>TalK</h1>
                </a>
                <ul>
                    <li class="menuLink"><a href="/management">회사 소개</a></li>
                    <li class="menuLink"><a href="/debug">커뮤니티</a></li>
                    <li class="menuLink"><a href="/download">다운로드</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="container">
        <!-- 슬라이드쇼 컨테이너 -->
        <div class="slide">
            <div class="inner-list">
                <div class="inner">
                    <img src="../images/slide1.png" alt="slide1">
                </div>
                <div class="inner">
                    <img src="../images/slide2.png" alt="slide1">
                </div>
                <div class="inner">
                    <img src="../images/slide.png" alt="slide1">
                </div>
            </div>
        </div>
        <div class="button-list">
            <div>
                <button class="버튼1"></button>
                <button class="버튼2"></button>
                <button class="버튼3"></button>
            </div>
        </div>
        <script src="/routes/slide.js" type="text/javascript"></script>
        <div id="detail_list">
            <div>
                <ul>
                    <li>
                        <a href="/management">
                            <img src="../images/management.png" width="100px" height="100px" alt="exe">
                            <h2>Management</h2>
                        </a>
                    </li>
                    <li>
                        <a href="/debug">
                            <img src="../images/debug.png" width="100px" height="100px" alt="debug">
                            <h2>Debug</h2>
                        </a>
                    </li>
                    <li><a href="https://github.com/">
                            <img src="../images/dev.png" width="100px" height="100px" alt="dev">
                            <h2>Built-in Git</h2>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <img src="../images/JoinUS.png" alt="You can Join us">
                <div>
                    <h2>
                        나만을 위한 초대 전용 공간을 만들어보세요
                    </h2>
                    <br>
                    <span style="font-size: 16px;">TalK 서버는 주제 기반 채널로 나뉩니다. 단체방에서도 혼잡함 없이 협동하고, 공유하고, 편하게 이야기를 나눌 수
                        있어요.</span>
                </div>
            </div>
            <div>
                <div>
                    <h2>
                        누구나 쉽게 어울릴 수 있는 곳
                    </h2>
                    <br>
                    <span style="font-size: 16px;">모처럼 한가하다면 음성 채널에 들어가 보세요. 전화를 걸 필요 없이 입장과 동시에 서버에 있는 친구들과 대화를 나눌 수
                        있답니다.</span>
                </div>
                <img src="../images/JoinUs2.png" alt="You can join us">
            </div>
            <div>
                <img src="../images/JoinUs3.png" alt="You can join us">
                <div>
                    <h2>
                        소규모 모임에서 팬덤까지
                    </h2>
                    <br>
                    <span style="font-size: 16px;">어느 커뮤니티라도 운영할 수 있는 관리 도구가 주어지며, 멤버의 권한도 지정할 수 있어요. 멤버에게 특별한 권한을 주거나,
                        비공개 채널을 만들어보세요.</span>
                </div>
            </div>
            <div>
                <div>
                    <h2>
                        친밀감을 위한 신뢰도 높은 기술
                    </h2>
                    <br>
                    <span style="font-size: 16px;">저지연 음성과 영상 채팅을 이용하면 꼭 한 공간에 있는 것 같답니다. 영상으로 인사하거나, 친구들의 게임 스트리밍을 보거나,
                        화면 공유로 함께 그림을 그릴 수도 있죠.</span>
                </div>
                <img src="../images/JoinUs4.png" alt="You can join us">
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footerExplan">
            <p>대표이사: 이형권 / 사업자 등록번호: 888-88-88888 / 김해시 진영읍 장등로 19번길</p>
            <p>회사문의: aq0011223344@gmail.com / 채용문의: broccoli@tu.ca.kr</p><br>
            <span>개인정보처리방침</span>
            <span>제휴/광고 문의</span>
        </div>
    </div>
</body>

</html>