<!DOCTYPE html>
<html>

<head>
    <title>타이틀 페이지</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/management.css">
</head>

<body>
    <div id="header">
        <!-- 상단 메뉴 바 컨테이너 -->
        <nav id="menu">
            <div>
                <a href="/">
                    <h1>TalK</h1>
                </a>
                <ul>
                    <li class="menuLink"><a href="/management">회사 소개</a></li>
                    <li class="menuLink"><a href="/debug">커뮤니티</a></li>
                    <li class="menuLink"><a href="/download">다운로드</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="container">
        <div id="introduce">
            <h1><span>Broccoli</span>Coperation</h1>
            <div>
                <p>브로콜리 코퍼레이션은 2023년 12월 공식 출범했습니다.</p>
                <br>
                <p>
                    인공지능(AI), 클라우드, 검색 등 오랜 시간 동안 축적한 기술력과 서비스 경험을
                    결합해<br> 기존에 진행하던 사업을 더욱 속도감 있게 전개하고, 신규 성장 동력 확보를 위해<br>
                    본격적으로 비즈니스 파트너들과 함께하는 엔터프라이즈 IT 기업을 지향합니다.
                </p>
                <br>
                <p>
                    급변하는 비즈니스 환경에 최적화된 디지털 혁신 솔루션을 제시하고,<br>
                    기술 기업으로서 기술고도화를 위한 R&D 투자도 강화해 나가고 있습니다.
                </p>
            </div>
        </div>
        <div id="map">
            <div>
                <p>Contact us</p>
                <div>
                    <p>김해시 진영읍 장등로 19번길</p>
                    <p>aq0011223344@gmail.com</p>
                </div>
            </div>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4615.189237927865!2d129.10200354399944!3d35.120901391746024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568ec5a87ee55f9%3A0x3ba9c5dbfc87c7c1!2z64-Z66qF64yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1701676605494!5m2!1sko!2skr"
                    width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footerExplan">
            <p>대표이사: 이형권 / 사업자 등록번호: 888-88-88888 / 김해시 진영읍 장등로 19번길</p>
            <p>회사문의: aq0011223344@gmail.com / 채용문의: broccoli@tu.ca.kr</p><br>
            <span>개인정보처리방침</span>
            <span>제휴/광고 문의</span>
        </div>
    </div>
</body>

</html>