* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
}

#container {
    width: 100%;
    height: auto;
    background: white;
}

/*menu start*/
#menu {
    width: 100%;
    background: black;
}

#menu>div {
    margin: auto;
    width: 400px;
    padding: 15px 0;
}

/* 로고 css */
#menu>div>a>h1 {
    text-align: center;
    color: white;
    padding: 0px 30px 0px 0px;
    font-size: 30px;
    font-family: Arial;
    float: left;
}

#menu>div>ul>li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 5px 15px 0px 0px;
}

/* menu css */
#menu .menuLink>a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: "Trebuchet MS", Arial;
}

#menu .menuLink>a:hover {
    color: cyan;
}

/* introduce */
#introduce{
    display: flex;
    justify-content: center;
    margin: 40px;
}

#introduce >div{
    margin-left: 50px;
}

#introduce > div > p{
    color: gray;
}

#introduce > h1 > span{
    font-weight: 500;
}

/* map */
#map>div{
    display: flex;
    justify-content: center;
}

#map>div:nth-child(2){
    margin-bottom: 30px;
}

#map>div>p {
    font-size: 40px;
    font-weight: bold;
    margin: 30px 30px 30px 30px;
    padding-right: 100px;
}

#map>div>div{
    margin: 30px;
}

#map>div>div>p{
    font-size:15px;
    color: gray;
}

/*--footer--*/
#footer {
    display: flex;
    padding: 50px 40px;
    border-top: 2px solid rgb(90, 86, 86);
    background: rgba(159, 148, 148, 0.131);
    clear: both;
  }
  
  #footerExplan {
    padding: 10px 60px;
  }
  
  #footerExplan>p,
  span {
    color: #828C94;
  }
  
  #footerExplan>span {
    color: rgb(151, 137, 137);
  }